services:
  sourcecred:
    build:
      context: .
      dockerfile: Dockerfile.sourcecred
    ports:
      - "6006:6006"
    volumes:
      - ./instance/data:/site/data
      - ./instance/config:/site/config
      - ./instance/cache:/site/cache
    environment:
      - SOURCECRED_GITHUB_TOKEN=${ACTIONS_AUTOMATION_BOT_PAT}
