services:
  sourcecred:
    image: ghcr.io/cogni-dao/cogni-sourcecred-runner:sc0.11.2-node18-2025-12-07
    command: sh -c "sourcecred go && sourcecred serve"
    ports:
      - "6006:6006"
    volumes:
      - ./instance/data:/site/data
      - ./instance/config:/site/config
      - sourcecred_cache:/site/cache
    environment:
      - SOURCECRED_GITHUB_TOKEN=${SOURCECRED_GITHUB_TOKEN}
    networks:
      - cogni-edge

networks:
  cogni-edge:
    external: true

volumes:
  sourcecred_cache:
