#cloud-config
package_update: true
packages: [docker.io]
write_files:
  - path: /etc/caddy/Caddyfile
    permissions: "0644"
    content: |
      new.cognidao.org {
        encode zstd gzip
        reverse_proxy app:3000
      }
runcmd:
  - docker network create web || true
  - docker rm -f app || true
  - docker pull ghcr.io/cogni-dao/cogni-template:v1
  - docker run -d --name app --network web --restart=always ghcr.io/cogni-dao/cogni-template:v1
  - docker rm -f caddy || true
  - docker pull caddy:2
  - docker run -d --name caddy --network web --restart=always -p 80:80 -p 443:443 -v /etc/caddy/Caddyfile:/etc/caddy/Caddyfile:ro -v caddy_data:/data -v caddy_config:/config caddy:2
