name: CI
on: pull_request
permissions:
  contents: read
concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      NEXT_TELEMETRY_DISABLED: 1
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        run: npm install -g pnpm
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Repository policy check
        run: |
          npm install -g repolinter
          repolinter lint -c repolinter.json .

      - name: Install
        run: pnpm install --frozen-lockfile
      - run: pnpm check
      - run: pnpm run build
